body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 25px 300px 75px 300px;
}

h1 {
  text-align: center;
  color: #569cd6;
}

/* #sectionTitle {
  background-color: #569cd6;
}

#sectionTitle h2 {
  color: white;
  text-align: center;
} */

h2, h3 {
  color: #569cd6;
}