body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: aliceblue;
}

h1,h2 {
  text-align: center;
  color: #569cd6;
}

h3{
  text-align: center;
}

a:hover {
  text-decoration: underline;
}

a:link,
a:visited {
  color: #569cd6;;
  padding: 5px;
  /* text-align: center; */
  text-decoration: none;
  display: inline-block;
}

a:hover,
a:active {
  font-weight: bold;
}

#name{
  color:gray;
}


ul {
  padding: 5;
  margin: 0;
  font-size: 15px;
}

/* li{
  padding: 10px;
  font-size: 20px;
  text-align: center;
}  */


.tabs > div {
  font-size: 20px;
}

.main_tabs,
.pythonEx,
.sqlEx,
.rEx,
.cgiEx,
.genomeEx{
  margin: auto;
  width: 60%;
  padding: 10px;
}


#justify {
  text-align: justify;
}

img {
    width: 100%;
    height: auto;
}

pre {
  white-space: pre-line;
  margin: -5px;
}

code {
  border: solid 1px rgb(44, 62, 180);
  padding: 3px;
}

em {
  color: gray;
  font-size: smaller;
}