body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: aliceblue;
  margin: auto;
  width: 60%;
  padding: 10px;
  text-align: justify;
}

h1,h2 {
  text-align: center;
  color: #569cd6;
}

a:hover {
  text-decoration: underline;
}

a:link,
a:visited {
  color: #569cd6;;
  padding: 5px;
  /* text-align: center; */
  text-decoration: none;
  display: inline-block;
}

a:hover,
a:active {
  font-weight: bold;
}

h4{
  color:gray;
}



ul {
  padding: 5;
  margin: 0;
  font-size: 15px;
}

/* li{
  padding: 10px;
  font-size: 20px;
  text-align: center;
}  */


.tabs > div {
  font-size: 20px;
}

.main_tabs{
  margin: auto;
  width: 60%;
  padding: 10px;
  text-align: justify;

}