body {
<<<<<<< Updated upstream
<<<<<<< Updated upstream
    font-family: Arial, Helvetica, sans-serif;
    color: darkblue;
  }
  
  h1 {
    text-align: center;
  }
=======
  font-family: Arial, Helvetica, sans-serif;
  color: darkblue;
=======
  font-family: Arial, Helvetica, sans-serif;
>>>>>>> Stashed changes
}

h1 {
  text-align: center;
<<<<<<< Updated upstream
}
>>>>>>> Stashed changes
=======
  color: cornflowerblue;
}

#sectionTitle {
  background-color: cornflowerblue;
}

#sectionTitle h2 {
  color: white;
  text-align: center;
}

h3 {
  color: cornflowerblue;
}
>>>>>>> Stashed changes
